@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
        <div class="alert alert-info">
            <br />
            <h4>Login to initiate your transactions.</h4>
            <br />
        </div>

        <div class="col-md-12">
            <a asp-area="" asp-controller="Account" asp-action="Login" style="min-width:200px;" class="btn btn-lg btn-primary">Login</a>
        </div>
    </div>
